body {
    background-color: rgb(0, 200, 255)
}

.info {
    font-family: Arial;
    animation: fadeIn 9s;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    cursor: default;
}

.loading {
    font-family: Arial;
    animation: fadeIn reverse 8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    cursor: default;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}